.gr-up-div {
    display: flex;
}


.gr-up-img {
    width: 100px;
    height: 100px;
}

.group-up-div-a {
    font-size: 5.6em;
    color: rgb(250, 156, 30);
    /* padding-bottom: 15px; */
}

.gr-img-div {
    display: flex;
    align-items: center;
}

.gr-up-div {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.subtitle {
    /* margin-top: 20px; */
    display: block;
    font-size: 4em;
    text-align: center;
    /* padding-bottom: 15px; */
}


.user-landing-wrapper {
    /* border-top: 2px solid rgb(220, 94, 28); */
    /* border-bottom: 2px solid rgb(220, 94, 28); */
    margin-bottom: 20px;

}


.landing-background-img-div  {
    display: flex;
    justify-content: center;
}

.user-background-img {
    object-fit: cover;
    width: 100%;
    height: 700px;
}

.nav-div {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gr-background-img {
    height: 500px;
}

.user-vod {
    height: 900px;
    position: absolute;
    top: 0px;
    z-index: -1
}


.under-vod-spacing {
    display: block;
    margin-bottom: 600px;
}

.vod-ow-img {
    width: fit-content;
}