.how-g-works {
    font-size: 3em;
    text-align: center;
}

.tiles-index {
    display: flex;
    flex-wrap: normal;
    justify-content: center;
    margin-left: 12%;
    /* margin-right: 12%; */
    /* width: 100%; */
}

.footer-link {
    padding-top: 12px;
}

.intro-img-div {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
}

.g-detail-img {
    object-fit: cover;
}

.intro-text-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.g-name-div {
    margin: 0px;
}

.meet-text {
    text-align: center;
}

.user-landing, .landing {
    /* display: flex; */
    text-align: center;
    /* margin-left: 30px; */
    /* margin-left: 20px; */
    font-size: 1.5em;
    margin-bottom: 20px;
}

