.profile-dropdown {
    display: flex;
    flex-direction: column;
}

.your-links:hover {
    cursor: pointer;
}

.prof-button-div {
    background-color:rgb(220, 94, 28);
}

.prof-button-div > div {
    color: black;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: bolder;
}

.your-links:hover {
    color: white;
}


.demo-user-button {
    cursor: pointer;
}

.fa-user-button {
    display: flex;
    align-items: center;

}

.fa-user-button:hover {
    background-color: #c6c7d6;
}

.account-text {
    margin: 0px;
}