.g-detail-img-div {
    display: flex;
    justify-content: center;
}

.g-subinfo-div, .g-name-div {
    margin-left: 15px;
}


.g-detail-img {
    object-fit: cover;
    max-height: 340px;
    max-width: 600px;
}

.upcoming-events {
    font-size: 2em;
}

.g-description {
    margin-bottom: 10px;
}

.g-name-div {
    font-size: 2em;
    color: rgb(220, 94, 28)
}

.g-subinfo-div {
    font-size: 1em;
}

.g-info-2 {
    height: fit-content;
}

.g-detail-img {
    display: flex;
    align-items: center;
}

.g-description-div {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: flex-start;

}

.g-desc-div {
    justify-content: flex-start;
}

.g-subinfo-div {
    margin-left: 0px;
}

.g-desc {
    font-size: 1.5em;
}

.g-detail-img {
    display: block;
}


.g-name-pic-img {
    display: flex;
    justify-content: flex-start;
}

.g-detail-img-div {
    display: flex;
    justify-content: flex-start;
}

.group-detail-div {
    margin-left: 65px;
    margin-right: 312px;
}